body {
    -webkit-user-select: none; /* untuk browser berbasis Webkit seperti Chrome dan Safari */
    -moz-user-select: none; /* untuk browser berbasis Mozilla seperti Firefox */
    -ms-user-select: none; /* untuk browser berbasis Microsoft seperti Internet Explorer */
    user-select: none;
  }
  
.animatedVertical {
  animation-name: vertical-translate;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
  animation-direction: alternate;
}

@keyframes vertical-translate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}